body{
    background-color: rgb(83, 221, 83);
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}
h2{
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
h1{
    font-size: 30px;
    color: white;
    font-family: cursive;
}
button{
    font-size: 20px;
    color: black;
    background-color: rgb(21, 226, 226);
}
